<head>
  <%= stylesheet_link_tag "weather", media: "all" %>
  <!-- Botpress Chatbot (using neat-curlew)--> 
  <script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
  <script src="https://files.bpcontent.cloud/2024/10/19/02/20241019023642-MP1E60IP.js"></script>
</head>

<body class="text-white">
  <%= render "shared/navbar" %>
  <main class="container-fluid p-5">
    <% unless @weather_data["message"].present? %>
      <div class="row px-3">
        <div class="col-12 col-lg-6 d-flex justify-content-center px-0 mb-5 mb-lg-0">
          <div class="w-100">
						<% if @from_map %>
							<%= link_to "Back to Map", map_path, data: { turbo: false }, class: "btn btn-sm btn-light mb-3"%>
						<% end %>
            <p id="last-updated-in-user-local-time" class="h5 fw-light"></p>
            <p class="h2 mt-3"><%= @description %></p>

            <%# TODO: make toggle between Celsius and Fahrenheit %>
            <div class="d-flex flex-column flex-lg-row align-items-center my-3">
              <p class="display-5 mb-lg-0" style="font-size: 7rem; line-height: normal;"><%= @temperature_in_f %></p>
              <div class="crop-container">
                <img src="https://openweathermap.org/img/wn/<%= @weather["icon"] %>@2x.png" alt="<%= @weather["description"] %>">
              </div>
            </div>

            <p class="h3 mt-2">Feels like <%= @feels_like_in_f %></p>

            <p class="display-3 mt-4"><%= @location_name %></p>
						<p class="h5 fw-light">Local Time: <%= @location_local_time %></p>

						<!-- TODO: fix up max/min temps -->
            <table class="table mt-4">
              <tr>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between me-lg-5">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-thermometer-sun h4 ms-1 me-2"></i>
                      <p class="h5">Max</p>
                    </div>
                    <p class="h5 d-flex align-items-center"><%= @max_in_f %></p>
                  </div>
                </td>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-thermometer-snow h4 ms-1 me-2"></i>
                      <p class="h5">Min</p>
                    </div>
                    <p class="h5 d-flex align-items-center"><%= @min_in_f %></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between me-lg-5">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-sunrise h4 me-2"></i>
                      <p class="h5">Sunrise</p>
                    </div>
                    <p class="h5 d-flex align-items-center"><%= @sunrise %></p>
                  </div>
                </td>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-sunset h4 me-2"></i>
                      <p class="h5">Sunset</p>
                    </div>
                    <p class="h5 d-flex align-items-center"><%= @sunset %></p>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-12 col-lg-6 d-flex justify-content-center px-0 mt-2">
          <div class="w-100">
						<!-- Future TODO: add hourly forecast -->
            <p class="h1 ms-1 pb-5">5-Day Forecast</p>
            <div class="d-flex flex-wrap justify-content-between">
              <% [@day_1, @day_2, @day_3, @day_4, @day_5].each_with_index do |day, index| %>
                <div class="d-flex flex-column justify-content-center text-center" style="width: 18%; margin-bottom: 10px;">
                  <p class="h6"><%= day[:date] %></p>
                  <img src="https://openweathermap.org/img/wn/<%= day[:icon] %>@2x.png" alt="<%= day[:description] %>">
                  <p>High: <%= day[:temp_max] %></p>
                  <p>Low: <%= day[:temp_min] %></p>
                </div>
              <% end %>
            </div>
            <table class="table mt-4 ms-3 pe-5">
              <tr>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between me-lg-3">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-droplet h5 me-2"></i>
                      <p class="h5">Humidity</p>
                    </div>
                    <p class="h5"><%= @humidity %></p>
                  </div>
                </td>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between ms-lg-3">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-thermometer h5 me-2"></i>
                      <p class="h5">Pressure</p>
                    </div>
                    <p class="h5"><%= @pressure %></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between me-lg-3">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-eye h5 me-2"></i>
                      <p class="h5">Visibility</p>
                    </div>
                    <p class="h5"><%= @visibility %></p>
                  </div>
                </td>
                <td class="text-white border-0" style="background: transparent;">
                  <div class="d-flex justify-content-between ms-lg-3">
                    <div class="d-flex align-items-center">
                      <i class="bi bi-wind h5 me-2"></i>
                      <p class="h5">Wind</p>
                    </div>
                    <p class="h5 wind"><%= @wind_speed %>, <%= @wind_direction %></p>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </main>
</body>

<script>
	// TODO: put into a controller
	if (typeof unixTimestamp === "undefined") {
		let unixTimestamp = <%= @weather_data["dt"] %>;
		displayLocalTime(unixTimestamp);
	}

	function displayLocalTime(timestamp) {
		const date = new Date(timestamp * 1000);

		// Format the date to the user's local timezone
		const options = {
			hour: "numeric",
			minute: "numeric",
			timeZoneName: "short"
		};

		// Convert to local time string
		const localTime = date.toLocaleString(undefined, options);

		document.getElementById("last-updated-in-user-local-time").innerText = `Last updated: ${localTime}`;
	}

	var fromMap = <%= @from_map ? 'true' : 'false' %>;
  if (!fromMap) {
		sessionStorage.removeItem("mapLat");
		sessionStorage.removeItem("mapLng");
		sessionStorage.removeItem("mapZoom");
	}

  // Set up event listener for when the web chat is opened
  window.botpress.on('webchat:opened', (conversationId) => {
    sendMessageToBot();
  });

  function sendMessageToBot() {
    window.botpress.sendMessage("The current location is at latitude: <%= @latitude %>, longitude: <%= @longitude %>");
  }

</script>
