<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Weather Wanderer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link id="favicon" rel="icon" href="<%= asset_path("favicon-light.ico") %>">
    <script>
      function updateFavicon() {
        const prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
        const faviconLink = document.getElementById("favicon");

        if (prefersDarkMode) {
          faviconLink.href = "<%= asset_path("favicon-dark.ico") %>";
        } else {
          faviconLink.href = "<%= asset_path("favicon-light.ico") %>";
        }
      }

      // Initial call to set favicon based on current mode
      updateFavicon();

      // Add event listener to update favicon on mode change
      window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", updateFavicon);
    </script>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
