<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Weather Wanderer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link id="favicon" rel="icon" href="<%= asset_path("favicon-light.ico") %>">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  function updateFavicon() {
    const prefersLightMode = window.matchMedia("(prefers-color-scheme: light)").matches;
    const faviconLink = document.getElementById("favicon");

    if (prefersLightMode) {
      faviconLink.href = "<%= asset_path("favicon-light.ico") %>";
    } else {
      faviconLink.href = "<%= asset_path("favicon-dark.ico") %>";
    }
  }

  // Initial call to set favicon based on current mode
  document.addEventListener("DOMContentLoaded", updateFavicon);
  // Event listener to update favicon on navigation from back button 
  document.addEventListener("turbo:load", updateFavicon);

  // Event listener to update favicon on mode change
  window.matchMedia("(prefers-color-scheme: light)").addEventListener("change", updateFavicon);
</script>
